.button {
    font: inherit;
    font-size: 2rem;
    color: #FFD7D7;
    background-color: #4E5166;
    padding: 1rem 4rem;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}
    
.button:hover {
    background-color: #FD2D01;
    border-color:#FD2D01;
    color: white;
}
    